@media (max-width: 1711px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1605px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1518px) {
  html {
    font-size: 13px;
  }
}


@media(max-width: 1402px) {
  html {
    font-size: 12px;
  }
}

@media(max-width: 1366px) {
  html {
    font-size: 11.5px;
  }
}

@media(max-width: 1280px) {
  html {
    font-size: 11px;
  }
}

@media(max-width: 1180px) {
  html {
    font-size: 10px;
  }
}

@media(max-width: 1080px) {
  html {
    font-size: 9px;
  }
}