body{
    background: radial-gradient(50% 50% at 50% 50%, #534571 0%, #342C46 100%);
    margin: 0;
    display: flex;
    align-items: center;
}

.main-window{
    width: calc( 1308rem / 16 );
    height: calc( 864rem / 16 );
    background: #FBFBFB;
    box-shadow: inset 4px 4px 20px #4D4D4D;
    border-radius: 20px;
    display: block;
    margin-right: auto;
    margin-left: 25%;
}

.main-window span{
    display: block;
    margin-top: calc( 140rem / 16 );
    margin-bottom: calc( 144rem / 16 );
    text-align: center;
    font-family: BPGNinoMtavruli;
    font-size: calc( 48rem / 16 );
    letter-spacing: 3px;

}

.main-window img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc( 116rem / 16 );
    width: calc( 516rem / 16 );

}


@media(max-width: 1600px){
    html{
        font-size: 13px;
        }
    }
@media(max-width: 1536px){
    html{
        font-size: 12px;
        }
    }
@media(max-width: 1366px){
    html{
        font-size: 10px;
        }
    }
@media(max-width: 1024px){
    html{
        font-size: 8px;
        }
    }