body{
    background: radial-gradient(50% 50% at 50% 50%, #534571 0%, #342C46 100%);
    margin: 0;
    display: flex;
    align-items: center;
 }

 .hidden{
     display: none;
 }

 .back-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc( 225rem / 16 );
    font-family: BPGNinoMtavruliBold;
    font-size: calc( 18rem / 16 );
    letter-spacing: 1px;
    text-decoration-line: underline;
    color: #3A7DA3;
 }

 .back-button:hover{
    cursor: pointer;
 }

.main-window{
    width: calc( 1308rem / 16 );
    height: calc( 864rem / 16 );
    background: #FBFBFB;
    box-shadow: inset 4px 4px 20px #4D4D4D;
    border-radius: 20px;
    display: block;
    margin-right: auto;
    margin-left: 25%;
    position: relative;
}

.main-window h1{
    width: calc( 970rem / 16 );
    height: calc( 50rem / 16 );
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: calc( 73rem / 16 );
    margin-top: calc( 65rem / 16 );
    border: 1px solid #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.main-window h1 span{
    display: block;
    margin-top: calc( 86rem / 16 );
    text-align: center;
    font-family: BPGNinoMtavruli;
    font-size: calc( 18rem / 16 );
    letter-spacing: 1px;
}

nav{
    width: calc( 311rem / 16 );
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding-top: calc( 73rem / 16 );
    padding-bottom: calc( 73rem / 16);
    background-color: #333333;
    border: 1px solid #898989;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav a{
    text-decoration: none;
}

nav a:last-of-type .nav-item{
    margin-bottom: 0;
}

.nav-item{
    height: calc( 48rem / 16 );
    margin-bottom: calc( 29rem / 16 );
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}

.nav-item:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}

.nav-item:hover span{
    color: #143B52;
    font-family: BPGNinoMtavruliBold;
}

.nav-item img{
    margin-left: calc( 28rem / 16 );
}

.nav-item span{
    margin-left: calc( 20rem / 16 );
    margin-top: calc( 5rem / 16 );
    color: #FBFBFB;
    font-family: BPGNinoMtavruli;
    font-size: calc( 18rem / 16 );
    letter-spacing: 1px;
}

.add-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc( 88rem / 16 );
    font-family: BPGNinoMtavruliBold;
    font-size: calc( 18rem / 16 );
    letter-spacing: 1px;
    text-decoration-line: underline;
    color: #3A7DA3;
}

.add-button:hover{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: calc( 8rem / 16 );
    height: calc( 12rem / 16 );
    background: #143B52; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #87AEC5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: calc( 8rem / 16 ) solid #90AEC9;
    background: #87AEC5;
}


@media(max-width: 1600px){
    html{
        font-size: 13px;
        }
    }
    @media(max-width: 1536px){
        html{
            font-size: 12px;
            }
    }
    @media(max-width: 1366px){
        html{
            font-size: 11px;
            }
        }
    @media(max-width: 1024px){
        html{
            font-size: 9px;
            }
    }