
    .scroll-space{
        height: calc( 430rem / 16 );
        width: calc( 900rem / 16 );
        margin: auto;
        overflow-y: auto;
    }

    .main-container{
        width: calc( 802rem / 16 );
        height: calc( 62rem / 16 );
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: calc( 55rem / 16 );
        padding-left: calc( 21rem / 16 );
        padding-right: calc( 21rem / 16 );
        box-sizing: border-box;
        background: #333333;
        border: 1px solid #000000;
        box-shadow: 2px 4px 14px #000000;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
    }

    .icon-box{
        width: calc( 50rem / 16 );
        height: calc( 30rem / 16 );
    }

    .icon-box:hover{
        cursor: pointer;
    }

    .icon{
        max-width: calc( 43rem / 16 );
        max-height: calc( 28.67rem / 16 );
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .icon-edit{
        display: block;
        margin-left: 70%;
        margin-top: -30%;
        max-width: calc( 36rem / 16 );
        max-height: calc( 22rem / 16 );
    }

    .name{
        width: calc( 80rem / 16 );
        text-align: center;
        color: #FBFBFB;
        font-family: BPGNinoMtavruli;
        font-size: calc( 18rem / 16 );
        letter-spacing: 1.5px;
    }

    a {
        width: calc( 300rem / 16 );
        color: #2F80ED;
        font-family: 'Roboto', sans-serif;
        font-size: calc( 14rem / 16 );
        text-decoration-line: underline;
        overflow: hidden;
    }

    .edit{
        width: calc( 28rem / 16 );
        position: relative;
    }
    
    .edit-outer{
        height: calc( 24rem / 16 );
        width: calc( 24rem / 16 );
        background: #000000;
        border: 1px solid #F2C94C;
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-duration: 0.2s;
    } 

    .edit-inner{
        height: calc( 12rem / 16 );
        width: calc( 12rem / 16 );
        background: #F2C94C;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-duration: 0.2s;
    }

    .edit:hover .edit-outer{
        cursor: pointer;
        height: calc( 25rem / 16 );
        width: calc( 25rem / 16 );
    }

    .edit:hover .edit-inner{
        cursor: pointer;
        height: calc( 11rem / 16 );
        width: calc( 11rem / 16 );
    }

    .delete{
        width: calc( 28rem / 16 );
        position: relative;
    }

    .delete-outer{
        height: calc( 24rem / 16 );
        width: calc( 24rem / 16 );
        background: #000000;
        border: 1px solid #EB5757;
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-duration: 0.2s;
    }

    .delete-inner{
        height: calc( 12rem / 16 );
        width: calc( 12rem / 16 );
        background: #EB5757;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-duration: 0.2s;
    }

    .delete:hover .delete-outer{
        cursor: pointer;
        height: calc( 25rem / 16 );
        width: calc( 25rem / 16 );
    }

    .delete:hover .delete-inner{
        cursor: pointer;
        height: calc( 11rem / 16 );
        width: calc( 11rem / 16 );
    }

    